<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All denial codes
    </h1>

    <a href="/denial_codes/new" class="btn btn-block btn-outline-secondary">
      Add a new denial code
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "denial_code_templates/denial_codes_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Code
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @denial_codes.each do |denial_code| %>
      <tr>
        <td>
          <%= denial_code.id %>
        </td>

        <td>
          <%= denial_code.code %>
        </td>

        <td>
          <%= time_ago_in_words(denial_code.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(denial_code.updated_at) %> ago
        </td>

        <td>
          <a href="/denial_codes/<%= denial_code.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @denial_codes, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
