<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Denial code #<%= @denial_code.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/denial_codes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/denial_codes/<%= @denial_code.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit denial code
        </a>
      </div>

      <div class="col">
        <a href="/delete_denial_code/<%= @denial_code.id %>" class="btn btn-block btn-outline-secondary">
          Delete denial code
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Code
      </dt>
      <dd>
        <%= @denial_code.code %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@denial_code.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@denial_code.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "denial_code_templates/denial_code_prescriptions" %>
  </div>
</div>
