<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Denial code #<%= @denial_code.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/denial_codes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link denial_code start -->
      <div class="col">
        <a href="/denial_codes/<%= @denial_code.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit denial code
        </a>
      </div>
      <!-- Edit link denial_code end -->

      <!-- Delete link denial_code start -->
      <div class="col">
        <a href="/delete_denial_code/<%= @denial_code.id %>" class="btn btn-block btn-outline-secondary">
          Delete denial code
        </a>
      </div>
      <!-- Delete link denial_code end -->
    </div>

    <dl>
      <dt>
        Code
      </dt>
      <!-- Display code start -->
      <dd>
        <%= @denial_code.code %>
      </dd>
      <!-- Display code end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@denial_code.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@denial_code.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "denial_code_templates/denial_code_prescriptions" %>
  </div>
</div>
<!-- Show Page Customization end -->
