<form action="/create_online_pricing_from_medication" method="post">

  <div class="form-group">
    <label for="provider">
      Provider
    </label>

    <input type="text" id="provider" name="provider" class="form-control" value="<%= @online_pricing.provider %>">
  </div>

  <div class="form-group">
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" class="form-control" value="<%= @online_pricing.price %>">
  </div>

  <div class="form-group">
    <label for="ppd">
      Ppd
    </label>
    <input id="ppd" class="form-check-input" name="ppd" type="checkbox" <%= "checked" if @online_pricing.ppd %>>
  </div>

  <div class="form-group">
    <label for="hyperlink">
      Hyperlink
    </label>

    <input type="text" id="hyperlink" name="hyperlink" class="form-control" value="<%= @online_pricing.hyperlink %>">
  </div>

  <input type="hidden" name="medication_id" value="<%= @medication.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create online pricing
  </button>
</form>
