<% if @medication.errors.any? %>
  <% @medication.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit medication #<%= @medication.id %>
</h1>

<hr>

<form action="/update_medication/<%= @medication.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @medication.name %>">
  </div>

  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control" value="<%= @medication.category %>">
  </div>

  <div class="form-group">
    <label for="amount_mg">
      Amount mg
    </label>

    <input type="text" id="amount_mg" name="amount_mg" class="form-control" value="<%= @medication.amount_mg %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update medication
  </button>
</form>

<hr>

<a href="/medications">
  Go back
</a>
