<form action="/create_pet_from_client" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @pet.name %>">
  </div>

  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <input type="text" id="dob" name="dob" class="form-control" value="<%= @pet.dob %>">
  </div>

  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <input type="text" id="weight" name="weight" class="form-control" value="<%= @pet.weight %>">
  </div>

  <input type="hidden" name="client_id" value="<%= @client.id %>">

  <div class="form-group">
    <label for="species">
      Species
    </label>

    <input type="text" id="species" name="species" class="form-control" value="<%= @pet.species %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create pet
  </button>
</form>
