<h1>
  Edit client #<%= @client.id %>
</h1>

<hr>

<!-- Form client start -->
<form action="/update_client/<%= @client.id %>" method="post">
<!-- Form client end -->

  <!-- Label and input for first_name start -->
  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <!-- Input for first_name start -->
    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @client.first_name %>">
    <!-- Input for first_name end -->
  </div>
  <!-- Label and input for first_name end -->

  <!-- Label and input for last_name start -->
  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <!-- Input for last_name start -->
    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @client.last_name %>">
    <!-- Input for last_name end -->
  </div>
  <!-- Label and input for last_name end -->

  <!-- Label and input for street_address start -->
  <div class="form-group">
    <label for="street_address">
      Street address
    </label>

    <!-- Input for street_address start -->
    <input type="text" id="street_address" name="street_address" class="form-control" value="<%= @client.street_address %>">
    <!-- Input for street_address end -->
  </div>
  <!-- Label and input for street_address end -->

  <!-- Label and input for zip_code start -->
  <div class="form-group">
    <label for="zip_code">
      Zip code
    </label>

    <!-- Input for zip_code start -->
    <input type="text" id="zip_code" name="zip_code" class="form-control" value="<%= @client.zip_code %>">
    <!-- Input for zip_code end -->
  </div>
  <!-- Label and input for zip_code end -->

  <!-- Label and input for apartment_number start -->
  <div class="form-group">
    <label for="apartment_number">
      Apartment number
    </label>

    <!-- Input for apartment_number start -->
    <input type="text" id="apartment_number" name="apartment_number" class="form-control" value="<%= @client.apartment_number %>">
    <!-- Input for apartment_number end -->
  </div>
  <!-- Label and input for apartment_number end -->

  <button class="btn btn-block btn-outline-secondary">
    Update client
  </button>
</form>

<hr>

<a href="/clients">
  Go back
</a>
