<% if @client.present? %>
  <% if @client.errors.any? %>
    <% @client.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new client
</h1>


<hr>

<form action="/create_client" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @client.first_name %>">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @client.last_name %>">
  </div>

  <div class="form-group">
    <label for="street_address">
      Street address
    </label>

    <input type="text" id="street_address" name="street_address" class="form-control" value="<%= @client.street_address %>">
  </div>

  <div class="form-group">
    <label for="zip_code">
      Zip code
    </label>

    <input type="text" id="zip_code" name="zip_code" class="form-control" value="<%= @client.zip_code %>">
  </div>

  <div class="form-group">
    <label for="apartment_number">
      Apartment number
    </label>

    <input type="text" id="apartment_number" name="apartment_number" class="form-control" value="<%= @client.apartment_number %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create client
  </button>
</form>

<hr>

<a href="/clients">
  Go back
</a>
