<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Client #<%= @client.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/clients" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/clients/<%= @client.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit client
        </a>
      </div>

      <div class="col">
        <a href="/delete_client/<%= @client.id %>" class="btn btn-block btn-outline-secondary">
          Delete client
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @client.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @client.last_name %>
      </dd>

      <dt>
        Street address
      </dt>
      <dd>
        <%= @client.street_address %>
      </dd>

      <dt>
        Zip code
      </dt>
      <dd>
        <%= @client.zip_code %>
      </dd>

      <dt>
        Apartment number
      </dt>
      <dd>
        <%= @client.apartment_number %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@client.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@client.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "client_templates/client_prescriptions" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "client_templates/client_pets" %>
  </div>
</div>
