<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Veterinarian #<%= @veterinarian.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/veterinarians" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/veterinarians/<%= @veterinarian.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit veterinarian
        </a>
      </div>

      <div class="col">
        <a href="/delete_veterinarian/<%= @veterinarian.id %>" class="btn btn-block btn-outline-secondary">
          Delete veterinarian
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First name
      </dt>
      <dd>
        <%= @veterinarian.first_name %>
      </dd>

      <dt>
        Last name
      </dt>
      <dd>
        <%= @veterinarian.last_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@veterinarian.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@veterinarian.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "veterinarian_templates/veterinarian_prescriptions" %>
  </div>
</div>
