<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All pets
    </h1>

    <a href="/pets/new" class="btn btn-block btn-outline-secondary">
      Add a new pet
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "pet_templates/pets_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Dob
        </th>

        <th>
          Weight
        </th>

        <th>
          Client
        </th>

        <th>
          Species
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pets.each do |pet| %>
      <tr>
        <td>
          <%= pet.id %>
        </td>

        <td>
          <%= pet.name %>
        </td>

        <td>
          <%= pet.dob %>
        </td>

        <td>
          <%= pet.weight %>
        </td>

        <td>
          <% if pet.client.present? %>
            <a href="/clients/<%= pet.client.id %>">
              <%= pet.client.first_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= pet.species %>
        </td>

        <td>
          <%= time_ago_in_words(pet.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(pet.updated_at) %> ago
        </td>

        <td>
          <a href="/pets/<%= pet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @pets, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
