<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Pet #<%= @pet.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/pets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/pets/<%= @pet.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit pet
        </a>
      </div>

      <div class="col">
        <a href="/delete_pet/<%= @pet.id %>" class="btn btn-block btn-outline-secondary">
          Delete pet
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @pet.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @pet.dob %>
      </dd>

      <dt>
        Weight
      </dt>
      <dd>
        <%= @pet.weight %>
      </dd>

      <dt>
        Client
      </dt>
      <dd>
        <% if @pet.client.present? %>
          <a href="/clients/<%= @pet.client_id %>">
            <%= @pet.client.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Species
      </dt>
      <dd>
        <%= @pet.species %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "pet_templates/pet_prescriptions" %>
  </div>
</div>
