<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Online pricing #<%= @online_pricing.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/online_pricings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/online_pricings/<%= @online_pricing.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit online pricing
        </a>
      </div>

      <div class="col">
        <a href="/delete_online_pricing/<%= @online_pricing.id %>" class="btn btn-block btn-outline-secondary">
          Delete online pricing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Provider
      </dt>
      <dd>
        <%= @online_pricing.provider %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @online_pricing.price %>
      </dd>

      <dt>
        Ppd
      </dt>
      <dd>
        <%= @online_pricing.ppd %>
      </dd>

      <dt>
        Hyperlink
      </dt>
      <dd>
        <%= @online_pricing.hyperlink %>
      </dd>

      <dt>
        Medication
      </dt>
      <dd>
        <% if @online_pricing.medication.present? %>
          <a href="/medications/<%= @online_pricing.medication_id %>">
            <%= @online_pricing.medication.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@online_pricing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@online_pricing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

