<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All internal pricings
    </h1>

    <a href="/internal_pricings/new" class="btn btn-block btn-outline-secondary">
      Add a new internal pricing
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "internal_pricing_templates/internal_pricings_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Cet
        </th>

        <th>
          Price
        </th>

        <th>
          Cogs
        </th>

        <th>
          Medication
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @internal_pricings.each do |internal_pricing| %>
      <tr>
        <td>
          <%= internal_pricing.id %>
        </td>

        <td>
          <%= internal_pricing.cet %>
        </td>

        <td>
          <%= internal_pricing.price %>
        </td>

        <td>
          <%= internal_pricing.cogs %>
        </td>

        <td>
          <% if internal_pricing.medication.present? %>
            <a href="/medications/<%= internal_pricing.medication.id %>">
              <%= internal_pricing.medication.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(internal_pricing.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(internal_pricing.updated_at) %> ago
        </td>

        <td>
          <a href="/internal_pricings/<%= internal_pricing.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @internal_pricings, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
