<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Internal pricing #<%= @internal_pricing.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/internal_pricings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link internal_pricing start -->
      <div class="col">
        <a href="/internal_pricings/<%= @internal_pricing.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit internal pricing
        </a>
      </div>
      <!-- Edit link internal_pricing end -->

      <!-- Delete link internal_pricing start -->
      <div class="col">
        <a href="/delete_internal_pricing/<%= @internal_pricing.id %>" class="btn btn-block btn-outline-secondary">
          Delete internal pricing
        </a>
      </div>
      <!-- Delete link internal_pricing end -->
    </div>

    <dl>
      <dt>
        Cet
      </dt>
      <!-- Display cet start -->
      <dd>
        <%= @internal_pricing.cet %>
      </dd>
      <!-- Display cet end -->

      <dt>
        Price
      </dt>
      <!-- Display price start -->
      <dd>
        <%= @internal_pricing.price %>
      </dd>
      <!-- Display price end -->

      <dt>
        Cogs
      </dt>
      <!-- Display cogs start -->
      <dd>
        <%= @internal_pricing.cogs %>
      </dd>
      <!-- Display cogs end -->

      <dt>
        Medication
      </dt>
      <!-- Display medication_id start -->
      <dd>
        <%= @internal_pricing.medication_id %>
      </dd>
      <!-- Display medication_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@internal_pricing.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@internal_pricing.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
