<% if @prescription.errors.any? %>
  <% @prescription.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit prescription #<%= @prescription.id %>
</h1>

<hr>

<form action="/update_prescription/<%= @prescription.id %>" method="post">

  <div class="form-group">
    <label for="client_id">
      Client
    </label>

    <%= select_tag(:client_id, options_from_collection_for_select(Client.all, :id, :first_name, @prescription.client_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="medication_id">
      Medication
    </label>

    <%= select_tag(:medication_id, options_from_collection_for_select(Medication.all, :id, :name, @prescription.medication_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="pet_id">
      Pet
    </label>

    <%= select_tag(:pet_id, options_from_collection_for_select(Pet.all, :id, :name, @prescription.pet_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="quantity">
      Quantity
    </label>

    <input type="text" id="quantity" name="quantity" class="form-control" value="<%= @prescription.quantity %>">
  </div>

  <div class="form-group">
    <label for="package_size">
      Package size
    </label>

    <input type="text" id="package_size" name="package_size" class="form-control" value="<%= @prescription.package_size %>">
  </div>

  <div class="form-group">
    <label for="dosage">
      Dosage
    </label>

    <input type="text" id="dosage" name="dosage" class="form-control" value="<%= @prescription.dosage %>">
  </div>

  <div class="form-group">
    <label for="dosage_time_units">
      Dosage time units
    </label>

    <input type="text" id="dosage_time_units" name="dosage_time_units" class="form-control" value="<%= @prescription.dosage_time_units %>">
  </div>

  <div class="form-group">
    <label for="refills">
      Refills
    </label>

    <input type="text" id="refills" name="refills" class="form-control" value="<%= @prescription.refills %>">
  </div>

  <div class="form-group">
    <label for="request_date">
      Request date
    </label>

    <input type="text" id="request_date" name="request_date" class="form-control" value="<%= @prescription.request_date %>">
  </div>

  <div class="form-group">
    <label for="veterinarian_id">
      Veterinarian
    </label>

    <%= select_tag(:veterinarian_id, options_from_collection_for_select(Veterinarian.all, :id, :first_name, @prescription.veterinarian_id), :class => "form-control") %>
  </div>


  <div class="form-check">
    <input type="hidden" value="0" name="approved">
    <input id="approved" class="form-check-input" name="approved" type="checkbox" value="1" <%= "checked" if @prescription.approved %>>
    <label for="approved" class="form-check-label">
      Approved
    </label>
  </div>

  <div class="form-group">
    <label for="denial_code_id">
      Denial code
    </label>

    <%= select_tag(:denial_code_id, options_from_collection_for_select(DenialCode.all, :id, :code, @prescription.denial_code_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update prescription
  </button>
</form>

<hr>

<a href="/prescriptions">
  Go back
</a>
