<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All prescriptions
    </h1>

    <a href="/prescriptions/new" class="btn btn-block btn-outline-secondary">
      Add a new prescription
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "prescription_templates/prescriptions_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Client
        </th>

        <th>
          Medication
        </th>

        <th>
          Pet
        </th>

        <th>
          Quantity
        </th>

        <th>
          Package size
        </th>

        <th>
          Dosage
        </th>

        <th>
          Dosage time units
        </th>

        <th>
          Refills
        </th>

        <th>
          Request date
        </th>

        <th>
          Veterinarian
        </th>

        <th>
          User
        </th>

        <th>
          Approved
        </th>

        <th>
          Denial code
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @prescriptions.each do |prescription| %>
      <tr>
        <td>
          <%= prescription.id %>
        </td>

        <td>
          <% if prescription.client.present? %>
            <a href="/clients/<%= prescription.client.id %>">
              <%= prescription.client.first_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if prescription.medication.present? %>
            <a href="/medications/<%= prescription.medication.id %>">
              <%= prescription.medication.name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if prescription.pet.present? %>
            <a href="/pets/<%= prescription.pet.id %>">
              <%= prescription.pet.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= prescription.quantity %>
        </td>

        <td>
          <%= prescription.package_size %>
        </td>

        <td>
          <%= prescription.dosage %>
        </td>

        <td>
          <%= prescription.dosage_time_units %>
        </td>

        <td>
          <%= prescription.refills %>
        </td>

        <td>
          <%= prescription.request_date %>
        </td>

        <td>
          <% if prescription.veterinarian.present? %>
            <a href="/veterinarians/<%= prescription.veterinarian.id %>">
              <%= prescription.veterinarian.first_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if prescription.user.present? %>
            <a href="/users/<%= prescription.user.id %>">
              <%= prescription.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= prescription.approved %>
        </td>

        <td>
          <% if prescription.denial_code.present? %>
            <a href="/denial_codes/<%= prescription.denial_code.id %>">
              <%= prescription.denial_code.code %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(prescription.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(prescription.updated_at) %> ago
        </td>

        <td>
          <a href="/prescriptions/<%= prescription.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @prescriptions, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
