<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Prescription #<%= @prescription.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/prescriptions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @prescription.user %>
          <a href="/prescriptions/<%= @prescription.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit prescription
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @prescription.user %>
          <a href="/delete_prescription/<%= @prescription.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete prescription
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Client
      </dt>
      <dd>
        <% if @prescription.client.present? %>
          <a href="/clients/<%= @prescription.client_id %>">
            <%= @prescription.client.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Medication
      </dt>
      <dd>
        <% if @prescription.medication.present? %>
          <a href="/medications/<%= @prescription.medication_id %>">
            <%= @prescription.medication.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Pet
      </dt>
      <dd>
        <% if @prescription.pet.present? %>
          <a href="/pets/<%= @prescription.pet_id %>">
            <%= @prescription.pet.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Quantity
      </dt>
      <dd>
        <%= @prescription.quantity %>
      </dd>

      <dt>
        Package size
      </dt>
      <dd>
        <%= @prescription.package_size %>
      </dd>

      <dt>
        Dosage
      </dt>
      <dd>
        <%= @prescription.dosage %>
      </dd>

      <dt>
        Dosage time units
      </dt>
      <dd>
        <%= @prescription.dosage_time_units %>
      </dd>

      <dt>
        Refills
      </dt>
      <dd>
        <%= @prescription.refills %>
      </dd>

      <dt>
        Request date
      </dt>
      <dd>
        <%= @prescription.request_date %>
      </dd>

      <dt>
        Veterinarian
      </dt>
      <dd>
        <% if @prescription.veterinarian.present? %>
          <a href="/veterinarians/<%= @prescription.veterinarian_id %>">
            <%= @prescription.veterinarian.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @prescription.user.present? %>
          <a href="/users/<%= @prescription.user_id %>">
            <%= @prescription.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Approved
      </dt>
      <dd>
        <%= @prescription.approved %>
      </dd>

      <dt>
        Denial code
      </dt>
      <dd>
        <% if @prescription.denial_code.present? %>
          <a href="/denial_codes/<%= @prescription.denial_code_id %>">
            <%= @prescription.denial_code.code %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@prescription.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@prescription.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

